.driver-information{
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 10px;
    width: 40vw;
    background-color: #FCFDFD;
    border-radius: 20px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
}
.driver-information:hover,.driver-information:active{
    transform: translateY(-8px);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.15);
    background-color: #f5f7fa;
}
.driver-head{
    display:flex;
    align-items: center;
    gap:10px;
    font-size: 1.2rem;
    margin: 10px;
    font-weight: 600;
}
.user-icon{
    opacity: 0.8;
    color: #75161C;
}
.driver-main-head{
    display: flex;
    align-items:center;
    font-size: 1.6rem;
    font-weight: 600;
    color:#01062B;
    margin: 5px;
}
.driver-data{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    padding: 3px;
}
.driverName{
    font-size: 1.1rem;
    font-weight: 600;
    color: #01062B;
    display: flex;
    align-items: center;
    margin: 3px;
    padding: 2px;
}
.drivermobile{
    font-size: 1rem;
    font-weight: 400;
    color: #75161C;
    opacity: 0.7;
    display: flex;
    align-items: center;
    gap: 7.5px;
}
.info-contact{
    color: #75161C;
    font-size: 0.8rem;
}
.contact{
    color: #F9F9FA;
}
.driver-right{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #F9F9FA;
    background-color: #F9F9FA !important;
    padding: 5px;
    border:0.8px solid #01062B;
    border-radius: 10px;
    cursor: pointer;
}
.driver-right:hover{
    background-color: #75161C;
    color:#fff
}
.driver-right:hover .contact{
    color:#fff
}
.driver-right:active{
    background-color: #75161C;
    color:#fff !important;
    transition-duration: 2s;
}
@media(max-width:850px){
    .driver-information{
        width: 90vw;
        margin: 10px auto;
        
    }
    .driver-main-head{
        font-size: 1rem !important;
    }
    .driver-head{
        font-size: 1rem;
        font-weight: 550;
    }
    .driverName{
        font-size: 1rem;
    }
    .drivermobile{
        font-size: 0.85rem;
    }
}