
.mt-5{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
}
.bus-list {
    margin-top: -20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.load{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    height: 80vh;
}
.back-btn {
  margin: 20px;
  padding: 8px 16px;
  background: white;
  color: black;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}

.back-btn:hover {
  background: #00062B;
}
