.search-page {
  background:linear-gradient(to right, #00062B, #D5D8DD);
  height: 300px;
  width: 100vw;
  text-align: center;
  padding: 0 1rem;
}

.banner-heading h1{
    font-size: 2.5rem;
    color: #fff;
    text-align: center;
    font-weight: 700;
    padding-top: 60px;
}
.banner-subheading p{
    font-size: 1.2rem;
    font-weight: 500;
    color: #333;
    text-align: center;
    margin-top: 10px;
}
@media(max-width: 768px) {
    .banner-heading h1 {
        font-size: 2rem;
    }
    .banner-subheading p {
        font-size: 1rem;
    }
}
.search-title {
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.search-form {
  display: flex;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
  gap: 0.5rem;
}

.whole-page{
  min-height: 100vh;
}
.load{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    height: 80vh;
}

.search-input-field {
  flex: 1;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  height: 2.5rem !important;
}

.search-btn {
  padding: 0.75rem 1.2rem;
  border: none;
  border-radius: 8px;
  background-color: #1b1b1b;
  color: white;
  font-size: 1rem;
  cursor: pointer;
  transition: background 0.2s;
}

.search-btn:hover {
  background-color: #00aaff;
}

/* 📱 Mobile */
@media (max-width: 768px) {
  .search-form {
    flex-direction: column;
    width: 100%;
  }

  .search-input-field,
  .search-btn {
    width: 100%;
  }

  .search-btn {
    margin-top: 0.5rem;
  }
  .search-results{
    padding:0rem 1rem
  }
}
